html {
    background-color:#202020;
}

main {
    color: #f3f3f3;
    padding-left:13%;
    padding-bottom:2%;
}

header, footer {
    margin: 0 auto;
    background-color: #151515;
    color: #f3f3f3;
    border: 4px solid #525d69;
    border-radius:20px;
}

header {
    position: fixed;
    height:100%;
    left: 0;
    top: 0;
    padding: 10px;
    text-align:center;
    border-top: 0;
    border-left: 0;
    width:11%;
}

footer {
    bottom:0;
    padding-left: 0%;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    width:100%;
    height:20%;
    text-align:center;
}

h1, h2, h3 {
    font-family:'Segoe UI';
}

h1 {
    font-size: 22px;
}

h2 {
    padding: 5;
    font-size: 20px;
    background-color: rgba(120, 151, 237, 0.333);
    border: 3px solid #111111;
    border-radius: 10px;
}

h3 {
    font-size: 18px;
}

p, a {
    font-family:Verdana;
    font-size: 16px;
}

a {
    color:#797e9c;
}

img {
    border:5px solid #6e8ba9;
    border-radius:20px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    padding: 50px;
    border: 2px solid #353535;
    border-radius:20px;
}

.contact_h2 {
    background-color:rgba(35, 35, 35, 0);
    border: 0px;
}

.contact_table {
    margin: 0px auto;
    color: #f3f3f3;
}